streamlit
streamlit_oauth
supabase
jinja2
weasyprint
requests
streamlit_mermaid
pdfplumber
fpdf2
python-dotenv
fastapi
uvicorn
pydantic
streamlit-google-picker
plotly
# Forzar-Reconstruccion-Completa-V20250901
