streamlit
streamlit_oauth
supabase
jinja2
weasyprint
requests
streamlit_mermaid
pdfplumber
fpdf2
python-dotenv
fastapi
uvicorn
pydantic
plotly
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
# Forzar-Reconstruccion-Completa-V20250901
